<h1>Admin Dashboard</h1>
<div class="panel panel-default products">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Database</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr class="product">
      <td>
      <h4><%= link_to 'Products', "../admin/products" %></h4>
      </td>
      <td><%= @product_count %></td>
    </tr>
    <tr>
      <td>
      <h4><%= link_to 'Categories', "../admin/categories" %></h4>
      </td>
      <td><%= @category_count %></td>
    </tr>
  </tbody>
  </div>

</table>