<header class="page-header">
  <h1>The Jungle Book</h1>
</header>
<section class="about" style="display:inline">
  <p>
    Now Rann the Kite brings home the night<br>
    That Mang the Bat sets free—<br>
 The herds are shut in byre and hut<br>
    For loosed till dawn are we.<br>
 This is the hour of pride and power,<br>
    Talon and tush and claw.<br>
 Oh, hear the call!—Good hunting all<br>
    That keep the Jungle Law!<br>
 Night-Song in the Jungle<br>
  </p>
</section
